{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header bg-unison text-black">
                <h2>Resultados de búsqueda para "{{ query }}"</h2>
            </div>
            <div class="card-body">
                {% if resultados %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Áreas</th>
                            <th>Catálogos</th>
                            <th>H-Index</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for revista in resultados %}
                        <tr>
                            <td><a href="{{ url_for('revista', titulo=revista['titulo']) }}">{{ revista['titulo'] }}</a></td>
                            <td>
                                {% for area in revista['areas'] %}
                                <a href="{{ url_for('area_detail', area_name=area) }}" class="badge bg-unison-light text-black">{{ area }}</a>
                                {% endfor %}
                            </td>
                            <td>
                                {% for catalogo in revista['catalogos'] %}
                                <a href="{{ url_for('catalogo_detail', catalogo_name=catalogo) }}" class="badge bg-unison-light text-black">{{ catalogo }}</a>
                                {% endfor %}
                            </td>
                            <td>{{ revista['h_index'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No se encontraron revistas que coincidan con "{{ query }}".</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}